body {
    margin: 0;
    background: #1F2937
}

#title {
    color: white;
    /* max-width: 354px; */
    font-size: 40px;
    font-weight: bold;
    margin: 115px 0px 0px 52px
}

#description {
    color: #D5D4D8;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0px 0px 52px;
}

#generate-el{
    background: #10B981;
    border: none;
    width: 191px;
    height: 42px;
    color: white;
    border-radius: 6px;
    margin: 51px 0px 0px 52px;
    padding: 9px, 17px, 9px, 15px;
}

#divider {
    background: white;
    width: 446px;
    border: 1px solid #2F3E53;
    margin: 35px 0px 0px 52px;
}

.displays {
    display: flex;
    margin: 35px 0px 0px 52px;
}

.display-el{
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    padding: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0px; */
    color: #55F991;
}

#second-el {
    margin: 0px 0px 0px 24px;
}

